stages:
  - build
  - test

build_job:
  stage: build
  image: maven:3.9.0-jdk-17
  script:
    - mvn clean compile

test_job:
  stage: test
  image: maven:3.9.0-jdk-17
  script:
    - mvn test
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/*.xml
