stages:
  - build
  - test

build_job:
  stage: build
  script:
    - mvn -v
    - mvn clean compile

test_job:
  stage: test
  script:
    - mvn test
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/*.xml
